body,
html {
    font-family: sans-serif;
    height: 100%;
    background: rgb(207, 255, 0);
    background: linear-gradient( 180deg, rgba(207, 255, 0, 0.49933476808692223) 0%, rgba(95, 186, 0, 0.4797269249496674) 100%);
}

h1 {
    font-family: "Sofia Sans", sans-serif;
}

.big-sun {
    font-size: 60px;
    color: rgb(255, 201, 22);
}

.small-sun {
    font-size: 50px;
    color: rgb(255, 201, 22);
}

.cloud-sun {
    font-size: 49px;
    color: rgb(32, 92, 255);
}

.gray-color {
    color: #646464;
}

.selected-box {
    background: #ececec;
}

input {
    background: none;
    outline: none;
}

h6 {
    color: rgb(60, 139, 0);
}

p {
    color: #379237;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgb(32, 92, 255);
}

.active,
.active:hover {
    cursor: default;
    color: #646464;
}

.units {
    position: relative;
    top: -8px;
}

.current-temp-image {
    margin: -25px -25px -10px -15px;
}